<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StudentRegistration</servlet-name>
  	<display-name>StudentRegistration</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentRegistrationBack</servlet-name>
  	<display-name>StudentRegistrationBack</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentRegistrationBack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentRegistration_back</servlet-name>
  	<display-name>StudentRegistration_back</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentRegistration_back</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>s</servlet-name>
  	<display-name>s</display-name>
  	<description></description>
  	<servlet-class>com.zoho.s</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginVerify</servlet-name>
  	<display-name>StudentLoginVerify</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentLoginVerify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLogout</servlet-name>
  	<display-name>StudentLogout</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAccCheck</servlet-name>
  	<display-name>StudentAccCheck</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentAccCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentPassChange</servlet-name>
  	<display-name>StudentPassChange</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentPassChange</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentAcc_status</servlet-name>
  	<display-name>GetStudentAcc_status</display-name>
  	<description></description>
  	<servlet-class>com.zoho.GetStudentAcc_status</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload</servlet-name>
  	<display-name>upload</display-name>
  	<description></description>
  	<servlet-class>com.zoho.upload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>S</servlet-name>
  	<display-name>S</display-name>
  	<description></description>
  	<servlet-class>com.zoho.S</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>encty</servlet-name>
  	<display-name>encty</display-name>
  	<description></description>
  	<servlet-class>com.zoho.encty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentPermission_back</servlet-name>
  	<display-name>StudentPermission_back</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentPermission_back</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentPermissionRequest_back</servlet-name>
  	<display-name>StudentPermissionRequest_back</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentPermissionRequest_back</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentMyPermissions_Cancel</servlet-name>
  	<display-name>StudentMyPermissions_Cancel</display-name>
  	<description></description>
  	<servlet-class>com.zoho.StudentMyPermissions_Cancel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargeRegistration_back</servlet-name>
  	<display-name>InchargeRegistration_back</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargeRegistration_back</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargeLoginVerify</servlet-name>
  	<display-name>InchargeLoginVerify</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargeLoginVerify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargeAccCheck</servlet-name>
  	<display-name>InchargeAccCheck</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargeAccCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargePassChange</servlet-name>
  	<display-name>InchargePassChange</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargePassChange</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mail</servlet-name>
  	<display-name>mail</display-name>
  	<description></description>
  	<servlet-class>com.zoho.mail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>maill</servlet-name>
  	<display-name>maill</display-name>
  	<description></description>
  	<servlet-class>com.zoho.maill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mails</servlet-name>
  	<display-name>mails</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.mail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Mailsend</servlet-name>
  	<display-name>Mailsend</display-name>
  	<description></description>
  	<servlet-class>com.zoho.Mailsend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargeLogout</servlet-name>
  	<display-name>InchargeLogout</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargeLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetInchargeAcc_status</servlet-name>
  	<display-name>GetInchargeAcc_status</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.GetInchargeAcc_status</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Pdf</servlet-name>
  	<display-name>Pdf</display-name>
  	<description></description>
  	<servlet-class>com.zoho.Pdf</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PDF</servlet-name>
  	<display-name>PDF</display-name>
  	<description></description>
  	<servlet-class>com.zoho.PDF</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Summa</servlet-name>
  	<display-name>Summa</display-name>
  	<description></description>
  	<servlet-class>com.zoho.Summa</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargeApprove</servlet-name>
  	<display-name>InchargeApprove</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargeApprove</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InchargeReject</servlet-name>
  	<display-name>InchargeReject</display-name>
  	<description></description>
  	<servlet-class>com.zoho.incharge.InchargeReject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Samcheck</servlet-name>
  	<display-name>Samcheck</display-name>
  	<description></description>
  	<servlet-class>com.zoho.Samcheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Student_BeforeRequestPermission</servlet-name>
  	<display-name>Student_BeforeRequestPermission</display-name>
  	<description></description>
  	<servlet-class>com.zoho.Student_BeforeRequestPermission</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PermissionLetter</servlet-name>
  	<display-name>PermissionLetter</display-name>
  	<description></description>
  	<servlet-class>com.zoho.PermissionLetter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentRegistration</servlet-name>
  	<url-pattern>/StudentRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentRegistrationBack</servlet-name>
  	<url-pattern>/StudentRegistrationBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentRegistration_back</servlet-name>
  	<url-pattern>/StudentRegistration_back</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>s</servlet-name>
  	<url-pattern>/s</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginVerify</servlet-name>
  	<url-pattern>/StudentLoginVerify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLogout</servlet-name>
  	<url-pattern>/StudentLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAccCheck</servlet-name>
  	<url-pattern>/StudentAccCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentPassChange</servlet-name>
  	<url-pattern>/StudentPassChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentAcc_status</servlet-name>
  	<url-pattern>/GetStudentAcc_status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>S</servlet-name>
  	<url-pattern>/S</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>encty</servlet-name>
  	<url-pattern>/encty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentPermission_back</servlet-name>
  	<url-pattern>/StudentPermission_back</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentPermissionRequest_back</servlet-name>
  	<url-pattern>/StudentPermissionRequest_back</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentMyPermissions_Cancel</servlet-name>
  	<url-pattern>/StudentMyPermissions_Cancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargeRegistration_back</servlet-name>
  	<url-pattern>/InchargeRegistration_back</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargeLoginVerify</servlet-name>
  	<url-pattern>/InchargeLoginVerify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargeAccCheck</servlet-name>
  	<url-pattern>/InchargeAccCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargePassChange</servlet-name>
  	<url-pattern>/InchargePassChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mail</servlet-name>
  	<url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>maill</servlet-name>
  	<url-pattern>/maill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mails</servlet-name>
  	<url-pattern>/mails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mailsend</servlet-name>
  	<url-pattern>/Mailsend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargeLogout</servlet-name>
  	<url-pattern>/InchargeLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetInchargeAcc_status</servlet-name>
  	<url-pattern>/GetInchargeAcc_status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Pdf</servlet-name>
  	<url-pattern>/Pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PDF</servlet-name>
  	<url-pattern>/PDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Summa</servlet-name>
  	<url-pattern>/Summa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargeApprove</servlet-name>
  	<url-pattern>/InchargeApprove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InchargeReject</servlet-name>
  	<url-pattern>/InchargeReject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Samcheck</servlet-name>
  	<url-pattern>/Samcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Student_BeforeRequestPermission</servlet-name>
  	<url-pattern>/Student_BeforeRequestPermission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PermissionLetter</servlet-name>
  	<url-pattern>/PermissionLetter</url-pattern>
  </servlet-mapping>
</web-app>
